<h1>Kiama Visuals!</h1>
<div class="background">
  <div class="gallery">
      <div class="card">
          <img
              src="../assets/images/pic1.jpeg"
              alt="Lavender Field"
          >
      </div>
      <div class="card">
          <img
              src="../assets/images/pic3.jpg"
              alt="Summer"
          >
      </div>
      <div class="card">
          <img
              src="../assets/images/pic4.jpg"
              alt="Autumn"
          >
      </div>
      <!-- more images -->
  </div>         
</div>   